.game-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 15px 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 50;
  background: transparent;
}

.game-header-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: white;
}

.game-header-item span.value {
  font-size: 20px;
  font-weight: 700;
  margin-top: 4px;
}
